@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,900);@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900);@import url(https://fonts.googleapis.com/css?family=Leckerli+One);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.box {
  padding-left: 15%;
  padding-right: 15%; }

.agd__title, .rtv__title {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  color: white;
  background-color: #386f8f;
  background: -webkit-gradient(left top, right top, color-stop(0%, #d4e4ef), color-stop(100%, #386f8f));
  background: linear-gradient(to right, #d4e4ef 0%, #386f8f 100%);
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 8rem;
  padding-bottom: 8rem; }

.partners__title, .root__partners-rtv .partners__title {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  color: white;
  background-color: #386f8f;
  background: -webkit-gradient(left top, right top, color-stop(0%, #386f8f), color-stop(100%, #d4e4ef));
  background: linear-gradient(to right, #386f8f 0%, #d4e4ef 100%);
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 4rem;
  padding-bottom: 4rem; }

@media (max-width: 1205px) {
  .box {
    padding-left: 3rem;
    padding-right: 3rem; } }

@media (max-width: 500px) {
  .box {
    padding-left: 1rem;
    padding-right: 1rem; } }

.background--darken {
  background-color: rgba(5, 28, 41, 0.5); }

.background--darken2 {
  background-color: rgba(5, 28, 41, 0.6); }

@keyframes anchor-hover-main {
  0% {
    color: #232323; }
  100% {
    color: #c32328; } }

@keyframes anchor-hover-secondary {
  0% {
    color: white; }
  100% {
    color: #c32328; } }

@keyframes logo-hover-main {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }

@keyframes button-hover-main {
  0% {
    background-color: #c32328; }
  100% {
    background-color: #d8272d; } }

@keyframes button-hover-secondary {
  0% {
    background-color: #386f8f; }
  100% {
    background-color: #69a3c4; } }

@keyframes navbar-hide {
  0% {
    top: 30px; }
  100% {
    top: 0px; } }

@keyframes navbar-show {
  0% {
    top: 0px; }
  100% {
    top: 30px; } }

.root {
  font-family: "Open Sans", sans-serif;
  background: white;
  color: white;
  line-height: 1; }

button:focus {
  outline: none; }

@media (max-width: 380px) {
  .root {
    overflow-x: hidden; } }

.root__topbar {
  width: 100%;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  color: white;
  background-color: #386f8f;
  font-size: 0.85rem;
  position: fixed;
  z-index: 99;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.topbar__phone, .topbar__email {
  color: white;
  text-decoration: none; }
  .topbar__phone:hover, .topbar__email:hover {
    animation: anchor-hover-secondary 0.5s;
    animation-fill-mode: forwards; }

.topbar__pipe {
  padding: 0 1rem; }

@media (max-width: 380px) {
  .root__topbar {
    font-size: 0.65rem; } }

.root__navbar {
  width: 100%;
  height: 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  color: #232323;
  background-color: white;
  position: fixed;
  top: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0.5px 0.5px 0px #386f8f;
  z-index: 100; }

.navbar__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  list-style-type: none; }

.navbar__logo:hover {
  animation: logo-hover-main 0.5s;
  animation-fill-mode: forwards; }

.navbar__hamburger {
  display: none;
  cursor: pointer; }
  .navbar__hamburger:hover .hamburger__line {
    animation: button-hover-secondary 0.5s;
    animation-fill-mode: forwards; }

.hamburger__line {
  width: 40px;
  height: 6px;
  background-color: #386f8f; }
  .hamburger__line:nth-child(2) {
    margin: 8px 0; }

.navbar__hamburger-closed .hamburger__line {
  width: 40px;
  height: 6px;
  background-color: #386f8f; }
  .navbar__hamburger-closed .hamburger__line:nth-child(1) {
    transform: translateY(15px) rotate(45deg); }
  .navbar__hamburger-closed .hamburger__line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg); }

.logo__image {
  width: 160px;
  height: 70px; }

.menu__item {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 1rem; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__item a {
    color: #232323;
    text-decoration: none; }
    .menu__item a:hover {
      animation: anchor-hover-main 0.5s;
      animation-fill-mode: forwards; }

.navbar--animate-hide {
  animation: navbar-hide 0.5s;
  animation-fill-mode: forwards; }

.navbar--animate-show {
  animation: navbar-show 0.5s;
  animation-fill-mode: forwards; }

@media (max-width: 1205px) {
  .navbar__menu {
    width: 100vw;
    height: 100vh;
    display: none;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding-top: 2rem; }
  .navbar__hamburger {
    display: block; }
  .menu__item {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 2; } }

@media (max-width: 480px) {
  .logo__image {
    width: 120px;
    height: 50px; } }

.root__header {
  line-height: 1.5;
  background-image: url(images/header_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .root__header .box {
    text-align: center;
    padding-top: 12rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 4rem; }

.header__title {
  font-family: "Raleways", Arial, sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }

.header__subtitle {
  font-size: 2rem;
  padding-bottom: 2rem; }

.header__text {
  max-width: 700px;
  font-size: 1rem; }
  .header__text p {
    margin-top: 1rem; }

.header__arrow {
  width: 100px;
  height: 75px;
  margin-top: 4rem;
  background-image: url(images/header_arrow.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain; }
  .header__arrow:hover {
    animation: logo-hover-main 0.5s;
    animation-fill-mode: forwards; }

@media (max-width: 1205px) {
  .header__subtitle {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem; } }

@media (max-width: 480px) {
  .header__title {
    font-size: 2rem; } }

.root__agd {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.agd__shape {
  width: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  top: -60px; }
  .agd__shape .shape__circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%; }
  .agd__shape .shape__line1 {
    width: 1px;
    height: 45px;
    background-color: white; }
  .agd__shape .shape__line2 {
    width: 1px;
    height: 50px;
    background-color: lightgray; }

.agd__kitchen, .agd__house, .agd__hair {
  width: 100%;
  color: #232323;
  line-height: 1.5;
  background-color: white; }
  .agd__kitchen .box, .agd__house .box, .agd__hair .box {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 4rem 0;
    margin: 0 4rem;
    background-color: #f0efef; }

.kitchen__title, .house__title, .hair__title {
  font-size: 2rem;
  margin-bottom: 0.5rem; }

.kitchen__underline, .house__underline, .hair__underline {
  width: 120px;
  height: 50px;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .kitchen__underline .underline__upper, .house__underline .underline__upper, .hair__underline .underline__upper {
    width: 100%;
    height: 0.1rem;
    background-color: #232323; }
  .kitchen__underline .underline__lower, .house__underline .underline__lower, .hair__underline .underline__lower {
    width: 50%;
    height: 0.1rem;
    background-color: #232323;
    margin-top: 1rem; }

.kitchen__products, .house__products, .hair__products {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.products__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-right: 6rem; }

.house__products .products__content {
  margin-right: 0;
  margin-left: 6rem; }

.products__image--kitchen {
  width: 400px;
  height: 400px;
  background-image: url(images/kitchen_image.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain; }
  .products__image--kitchen:hover {
    animation: logo-hover-main 0.5s;
    animation-fill-mode: forwards; }

.products__image--house {
  width: 400px;
  height: 250px;
  background-image: url(images/house_image.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain; }
  .products__image--house:hover {
    animation: logo-hover-main 0.5s;
    animation-fill-mode: forwards; }

.products__image--hair {
  width: 400px;
  height: 300px;
  background-image: url(images/hair_image.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain; }
  .products__image--hair:hover {
    animation: logo-hover-main 0.5s;
    animation-fill-mode: forwards; }

.content__title {
  font-size: 1.15rem;
  font-weight: 700;
  margin-left: -1.20rem;
  padding-bottom: 1rem; }

.content__list {
  width: 400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }
  .content__list .list__item {
    width: 100%;
    text-align: left;
    padding-right: 2rem;
    padding-top: 1rem; }

@media (max-width: 1105px) {
  .agd__kitchen .box, .agd__house .box, .agd__hair .box {
    margin: 0 2rem;
    padding: 2rem 0; }
  .kitchen__products, .house__products, .hair__products {
    text-align: center; }
    .kitchen__products .products__content, .house__products .products__content, .hair__products .products__content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 0; }
  .content__title {
    margin-left: 0; }
  .content__list {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    list-style: none; }
    .content__list .list__item {
      text-align: center;
      padding: 0.5rem; }
  .products__image--kitchen, .products__image--house, .products__image--hair {
    margin: 2rem; } }

@media (max-width: 480px) {
  .agd__kitchen .box, .agd__house .box, .agd__hair .box {
    margin: 0; }
  .agd__title {
    font-size: 2rem; }
  .products__image--kitchen, .products__image--hair {
    width: 250px;
    height: 300px; }
  .products__image--house {
    width: 300px; } }

@media (max-width: 380px) {
  .products__content {
    width: 300px; }
  .content__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; } }

.root__partners-agd {
  line-height: 1.5;
  text-align: center; }

.partners__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
  margin: 4rem 0; }

.grid__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 120px;
  height: 140px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center; }
  .grid__item:hover {
    animation: logo-hover-main 0.5s;
    animation-fill-mode: forwards; }

.item__image {
  width: 100%; }

@media (max-width: 1105px) {
  .partners__grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (max-width: 720px) {
  .partners__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr; } }

@media (max-width: 480px) {
  .partners__title {
    font-size: 2rem; }
  .partners__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; }
    .partners__grid .grid__item {
      height: 100px; } }

.root__rtv {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.rtv__shape {
  width: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  top: -60px; }
  .rtv__shape .shape__circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%; }
  .rtv__shape .shape__line1 {
    width: 1px;
    height: 45px;
    background-color: white; }
  .rtv__shape .shape__line2 {
    width: 1px;
    height: 50px;
    background-color: lightgray; }

.rtv__electronics {
  width: 100%;
  color: #232323;
  line-height: 1.5;
  background-color: white; }
  .rtv__electronics .box {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 4rem 0;
    margin: 0 6rem;
    background-color: #f0efef; }

.electronics__title {
  font-size: 2rem;
  margin-bottom: 0.5rem; }

.electronics__underline {
  width: 120px;
  height: 50px;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .electronics__underline .underline__upper {
    width: 100%;
    height: 0.1rem;
    background-color: #232323; }
  .electronics__underline .underline__lower {
    width: 50%;
    height: 0.1rem;
    background-color: #232323;
    margin-top: 1rem; }

.electronics__products {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.products__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-right: 6rem; }

.products__image--rtv {
  width: 400px;
  height: 400px;
  background-image: url(images/electronics_image.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain; }
  .products__image--rtv:hover {
    animation: logo-hover-main 0.5s;
    animation-fill-mode: forwards; }

@media (max-width: 1105px) {
  .rtv__electronics .box {
    margin: 0 2rem;
    padding: 2rem 0; }
  .electronics__products {
    text-align: center; }
    .electronics__products .products__content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin-left: 0;
      margin-right: 0; }
  .content__title {
    margin-left: 0; }
  .content__list {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    list-style: none; }
    .content__list .list__item {
      padding: 0.5rem; } }

@media (max-width: 480px) {
  .rtv__electronics .box {
    margin: 0; }
  .rtv__title {
    font-size: 2rem; }
  .products__image--rtv {
    width: 300px;
    height: 300px; } }

@media (max-width: 380px) {
  .content__list {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; } }

.root__partners-rtv {
  line-height: 1.5;
  text-align: center; }
  .root__partners-rtv .partners__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-row-gap: 1rem;
    margin: 4rem 0; }
    .root__partners-rtv .partners__grid .grid__item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      width: 120px; }
      .root__partners-rtv .partners__grid .grid__item:hover {
        animation: logo-hover-main 0.5s;
        animation-fill-mode: forwards; }
    .root__partners-rtv .partners__grid .item__image {
      width: 100%; }
    .root__partners-rtv .partners__grid .lauson {
      background: #4d5e69;
      padding: 1rem 0; }
  @media (max-width: 1105px) {
    .root__partners-rtv .partners__grid {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (max-width: 720px) {
    .root__partners-rtv .partners__grid {
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 480px) {
    .root__partners-rtv .partners__title {
      font-size: 2rem; }
    .root__partners-rtv .partners__grid {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; }
      .root__partners-rtv .partners__grid .grid__item {
        height: 100px; } }

.root__offer {
  line-height: 1.5;
  background-image: url(images/offer_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .root__offer .box {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem; }

.offer__title {
  font-family: "Raleways", Arial, sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }

.offer__subtitle {
  font-size: 2rem;
  padding: 2rem 0; }

.offer__text {
  max-width: 700px;
  font-size: 1rem; }

.offer__button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: #c32328;
  margin-top: 3rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  border: none; }
  .offer__button:hover {
    animation: button-hover-main 0.5s;
    animation-fill-mode: forwards; }

@media (max-width: 480px) {
  .offer__title {
    font-size: 2rem; }
  .offer__subtitle {
    font-size: 1rem; } }

.root__contact {
  line-height: 1.5;
  background-color: #1b3646; }
  .root__contact .box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 8rem; }

.contact__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleways", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  padding-top: 8rem; }

.contact__company {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.contact__info {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }

.contact__map {
  width: 60%;
  height: 650px;
  text-align: right;
  padding-top: 1rem; }

.map__iframe {
  width: 100%;
  height: 100%; }

.map__anchor a {
  color: white;
  text-decoration: none; }
  .map__anchor a:hover {
    animation: anchor-hover-secondary 0.5s;
    animation-fill-mode: forwards; }

.contact__info div {
  width: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 0.5rem 0; }

.info__title {
  font-size: 1.75rem; }

.contact__info div * {
  color: white;
  text-decoration: none; }
  .contact__info div *:hover {
    animation: anchor-hover-secondary 0.5s;
    animation-fill-mode: forwards; }

.contact__info div :first-child {
  font-weight: 700;
  padding-right: 1rem; }
  .contact__info div :first-child:hover {
    animation: none; }

@media (max-width: 760px) {
  .contact__info {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start; }
  .contact__map {
    width: 100%;
    height: 300px;
    text-align: right;
    padding-top: 4rem; } }

@media (max-width: 615px) {
  .contact__info {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .contact__info div {
    width: 90%; } }

@media (max-width: 480px) {
  .contact__title {
    font-size: 2rem; }
  .contact__company {
    font-size: 1rem;
    padding-left: 1rem; } }

.root__footer {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #0d1a21;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .root__footer a {
    color: white;
    text-decoration: none; }
    .root__footer a:hover {
      animation: anchor-hover-secondary 0.5s;
      animation-fill-mode: forwards; }

.footer__author {
  padding-bottom: 0.5rem; }
